*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}
.bg img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-text{
    width: 75%;
    height: 70vh;
    z-index: 999;
    display: flex;
    position: relative;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
}
.background-text .container{
   
    width: 50%;
    height: 100%;
    padding: 50px;
    display: flex;
    font-family: monospace;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
    box-shadow: 10px 10px 10px black;
    color: white;
}
.background-text .container button{
    padding: 10px 30px;
    margin-top: 50px;
    cursor: pointer;
}
.formBox{
    width: 40%;
    height: 110%;
    left: 5%;
    top:-5%;
    transition: all .5s ease-in-out;
    position: absolute;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
 
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    transform: translateX(0%);
}
.formBox #formImg{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#signupForm{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    width: 100%;
    position: absolute;
   
    justify-content: center;
    color: white;
    font-weight: bold;
    flex-direction: column;
    transition: .5s all ease-in-out;
}
#signupForm label{
    font-size: 20px;
  letter-spacing: 5px;
  font-family: monospace;
}
#signupForm input{
    padding: 7px;
    width: 100%;
}
#signupForm button{
    padding: 7px 50px;
    margin-top: 30px;
    cursor: pointer;
}
#loginForm{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    width: 100%;
    left: -100%;
    transition: .5s all ease-in-out;
    position: absolute;
    font-weight: bold;
    justify-content: center;
    color: white;
    flex-direction: column;
}
#loginForm label{
    font-size: 20px;
  letter-spacing: 5px;
  font-family: monospace;
}
#loginForm input{
    padding: 7px;
    width: 100%;
}
#loginForm button{
    padding: 7px 50px;
    margin-top: 30px;
    cursor: pointer;
}